$font-size: 14px;

$participant-state-width: 5em;
$participant-state-font-size-multiplier: .7;
$participant-name-width: 9em;

$match-width: 2 * $participant-state-width + $participant-name-width - 2em;
$match-height: 7em;

$default-text-color: white;
$upper-match-border-color: darkblue;
$upper-match-color: #000046;
$lower-match-border-color: #8b8b00;
$lower-match-color: #464600;
$won-player-color: lightblue;
$lost-player-color: #e6e6ae;

body {
  background-color: darkgreen;
}

#bracketContainer {
  font-size: $font-size;
  color: $default-text-color;

  position: relative;
  width: 100%;
  height: $match-height * 6 + 3em;
  overflow: auto;
  scroll-behavior: smooth;
  #flowLines {

  }
  #bracket {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    .round {
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin-right: 3em;
      .roundNumber {
        margin: 0 0 .2em;
        font-weight: bold;
      }
      .matches {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &.upper {
          height: $match-height * 4;
          .match {
            .participants {
              border: 1px solid $upper-match-border-color;
              background-color: $upper-match-color;
            }
          }
        }
        &.lower {
          height: $match-height * 2;
          .match {
            .participants {
              border: 1px solid $lower-match-border-color;
              background-color: $lower-match-color;
            }
          }
        }
      }
    }
  }
}

.matches {
  .matchDate {
    display: inline-block;
    height: 1em;
    margin: 0 0 .2em;
  }
  .match {
    width: $match-width;
    height: $match-height;
    .header {
      display: flex;
      justify-content: space-between;
      span.matchName {
        display: inline-block;
        height: 1em;
      }
    }
    .participants {
      border: 1px solid green;
      padding: .25em;
      text-align: center;
      div {
        span {
          display: inline-block;
        }
        .id {
          width: $participant-name-width;

        }
        .from, .next {
          font-size: #{$participant-state-font-size-multiplier}em;
          width: $participant-state-width;
          &:empty {
            &:before, &:after {
              content: ''
            }
          }
        }
        .from {
          text-align: right;
          &:after {
            content: ' →'
          }
        }
        .next {
          text-align: left;
          &:before {
            content: '→ '
          }
        }
        .id, .next {
        }
        &.won {
          .id, .next {
            color: $won-player-color;
          }
        }
        &.lost {
          .id, .next {
            color: $lost-player-color;
          }
        }
      }
    }
  }
}
